body{
    background-color: #416528;
}

.welcome{
    color: #880000;
    font-size: 30px;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #6b0101;
}

#textBox{
    width: 180px;
}

div{
    color: #6b0101;
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    margin: 14px;  
    background-color: #9cc183;
    word-wrap: break-word;
    width: 460px;
}

.ID{
    font-size: 7px;
}